@charset "UTF-8";
/*头部样式*/
.top {
  width: 100%;
  height: 30px;
  background-color: #F7F7F7;
  font-size: 12px; }
  .top .top-in {
    width: 900px;
    margin: 0 auto; }
  .top a {
    color: black;
    display: inline-block;
    width: 77px;
    margin-top: 7px; }
  .top a:hover {
    color: red; }
  .top .left {
    float: left; }
    .top .left :nth-child(1) a {
      color: red; }
    .top .left :nth-child(1) img {
      display: inline-block; }
    .top .left li {
      float: left;
      text-align: center; }
      .top .left li a {
        border-right: 1px solid black; }
    .top .left :nth-child(3) a {
      border-right: none; }
  .top .right {
    float: right; }
    .top .right li {
      float: left;
      width: 80px;
      text-align: center; }
      .top .right li a {
        border-right: 1px solid black; }
    .top .right :nth-child(3) a {
      border-right: none; }
      .top .right :nth-child(3) a span {
        display: inline-block;
        width: 50px;
        float: left;
        line-height: 18px; }

/*顶部下方图片*/
.top-bot {
  width: 940px;
  height: 100px;
  margin: 0 auto;
  background: url(../img/top-in.jpg) no-repeat;
  background-size: cover; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }

/*导航*/
.nav {
  float: left;
  width: 100%;
  height: 50px;
  background: black; }
  .nav .hang {
    width: 900px;
    margin: 0 auto; }
    .nav .hang ul {
      float: left;
      display: flex;
      width: 900px; }
      .nav .hang ul li {
        float: left;
        flex: 1;
        line-height: 48px; }
      .nav .hang ul a {
        font-size: 14px;
        color: white;
        display: inline-block;
        text-align: center;
        position: relative; }
        .nav .hang ul a div {
          width: 400px;
          height: 300px;
          background: white;
          position: absolute;
          top: 49px;
          z-index: 100;
          box-shadow: 3px 3px 3px darkgray; }
          .nav .hang ul a div h6 {
            display: block;
            width: 90%;
            height: 40px;
            border-bottom: 1px solid darkgray;
            margin: 0 auto; }
          .nav .hang ul a div ol {
            width: 100%;
            height: 200px;
            margin-left: 20px; }
            .nav .hang ul a div ol li {
              color: darkgray;
              clear: none;
              width: 100%;
              height: 30px;
              font-size: 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              text-align: left; }
            .nav .hang ul a div ol li:hover {
              color: darkorange; }
      .nav .hang ul :nth-child(9) .hezi {
        display: none;
        width: 300px;
        right: -70%;
        height: 300px;
        overflow: auto; }
        .nav .hang ul :nth-child(9) .hezi .xing {
          width: 300px;
          height: 100px;
          border-bottom: 1px solid #ddd;
          text-align: center; }
          .nav .hang ul :nth-child(9) .hezi .xing img {
            display: inline-block;
            width: 50px;
            height: 70px;
            float: left;
            border: 1px solid darkgray;
            margin-top: 15px;
            margin-left: 5px; }
          .nav .hang ul :nth-child(9) .hezi .xing dl {
            display: inline-block;
            float: left;
            width: 160px;
            font-size: 12px;
            margin-top: 12px;
            margin-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal; }
            .nav .hang ul :nth-child(9) .hezi .xing dl span {
              display: block;
              height: 30px; }
            .nav .hang ul :nth-child(9) .hezi .xing dl :nth-child(1) {
              width: 160px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal; }
            .nav .hang ul :nth-child(9) .hezi .xing dl :nth-child(2) {
              width: 70px;
              color: darkslategray; }
          .nav .hang ul :nth-child(9) .hezi .xing dt {
            display: inline-block;
            float: left;
            margin: 5px;
            color: darkgray;
            height: 100%;
            width: 30px;
            line-height: 170px; }
        .nav .hang ul :nth-child(9) .hezi :last-child {
          border: none; }
      .nav .hang ul a:hover {
        color: #DF5000; }
      .nav .hang ul .new {
        background: url(../img/xiaotupiao/new.png) no-repeat top right 13px; }
      .nav .hang ul :nth-child(1) a {
        color: #DF5000; }
      .nav .hang ul :nth-child(9) a {
        width: 200px;
        text-align: right;
        padding-right: 5px; }
      .nav .hang ul :nth-child(9) a span {
        border-right: 1px solid white; }

.main {
  width: 100%;
  float: left; }
  .main .path {
    width: 900px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px; }
    .main .path span {
      display: inline-block;
      float: left;
      font-size: 14px;
      color: darkgray;
      width: 30px;
      text-align: center; }
    .main .path :nth-child(5) {
      width: 300px;
      text-align: left;
      color: darkslategray; }
  .main .information {
    width: 900px;
    height: 690px;
    margin: 0 auto; }
    .main .information .left {
      display: inline-block;
      float: left;
      width: 400px;
      height: 500px; }
      .main .information .left img {
        width: 400px;
        height: 500px; }
    .main .information .right {
      display: inline-block;
      float: left;
      width: 500px;
      height: 500px; }
      .main .information .right .brand {
        width: 100%;
        height: 40px;
        float: left;
        font-size: 38px;
        font-weight: 800;
        line-height: 20px; }
      .main .information .right .name {
        width: 100%;
        height: 30px;
        float: left;
        color: darkgrey; }
      .main .information .right .price {
        display: inline-block;
        width: 80px;
        height: 40px;
        float: left;
        color: red;
        font-size: 26px;
        font-weight: 700; }
      .main .information .right .original {
        display: inline-block;
        width: 80px;
        height: 40px;
        float: left;
        color: darkgrey;
        font-size: 20px;
        text-decoration: line-through;
        line-height: 34px;
        margin-left: 5px; }
      .main .information .right .go {
        width: 100%;
        height: 40px;
        float: left;
        background: lavender; }
        .main .information .right .go span {
          display: inline-block;
          float: left;
          margin-top: 10px;
          font-size: 14px; }
        .main .information .right .go :nth-child(1) {
          font-size: 20px;
          color: red;
          margin-left: 10px; }
        .main .information .right .go :nth-child(2) {
          margin-left: 15px;
          line-height: 24px; }
      .main .information .right .color {
        width: 100%;
        height: 30px;
        float: left;
        margin-top: 20px;
        color: darkgrey;
        font-size: 15px; }
        .main .information .right .color span {
          display: inline-block;
          float: left; }
        .main .information .right .color :nth-child(2) {
          color: black;
          margin-left: 5px; }
      .main .information .right .pte {
        width: 100%;
        height: 70px;
        float: left; }
        .main .information .right .pte img {
          width: 50px;
          height: 70px;
          border: 1px solid darkgray; }
      .main .information .right .num {
        width: 100%;
        height: 30px;
        float: left;
        margin-top: 5px;
        color: darkgrey;
        font-size: 15px; }
      .main .information .right .jisuan {
        width: 100%;
        height: 40px;
        float: left; }
        .main .information .right .jisuan span {
          display: inline-block;
          float: left;
          width: 40px;
          height: 40px;
          text-align: center; }
        .main .information .right .jisuan :nth-child(1) {
          font-size: 30px;
          background: lavender; }
        .main .information .right .jisuan :nth-child(2) {
          margin-top: 10px; }
        .main .information .right .jisuan :nth-child(3) {
          font-size: 30px;
          background: lavender; }
      .main .information .right .shipments {
        width: 100%;
        height: 36px;
        float: left;
        font-size: 14px;
        color: darkgrey;
        line-height: 35px; }
        .main .information .right .shipments .riqi {
          color: black;
          font-weight: 600; }
      .main .information .right .shop {
        width: 100%;
        height: 50px;
        float: left;
        margin-top: 15px; }
        .main .information .right .shop button {
          width: 160px;
          height: 50px;
          border: none;
          color: white;
          background: red;
          font-size: 22px; }
      .main .information .right .count_down {
        width: 100%;
        height: 40px;
        float: left;
        margin-top: 12px; }
        .main .information .right .count_down .left {
          width: 70px;
          display: inline-block;
          float: left; }
          .main .information .right .count_down .left :nth-child(1) {
            color: black;
            font-size: 15px; }
          .main .information .right .count_down .left :nth-child(2) {
            color: darkgrey;
            font-size: 15px; }
        .main .information .right .count_down .right {
          display: inline-block;
          float: left;
          width: 430px;
          height: 40px; }
          .main .information .right .count_down .right span {
            display: inline-block;
            float: left;
            width: 40px;
            height: 40px;
            border: 1px solid darkgray;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            font-weight: 600; }
          .main .information .right .count_down .right dl {
            display: inline-block;
            float: left;
            width: 30;
            height: 48px;
            line-height: 40px;
            color: darkgray; }
    .main .information .xiaotu {
      width: 100%;
      height: 120px;
      float: left;
      margin-top: 50px;
      border-bottom: 1px solid darkgray; }
      .main .information .xiaotu img {
        display: inline-block;
        float: left;
        width: 80;
        height: 100px; }
      .main .information .xiaotu .promise {
        display: inline-block;
        float: right;
        width: 500px;
        height: 100px; }
        .main .information .xiaotu .promise span {
          display: inline-block;
          float: left;
          font-size: 16px;
          margin-right: 15px;
          height: 50px;
          width: 150px;
          line-height: 20px;
          margin-top: 35px; }
          .main .information .xiaotu .promise span a {
            display: inline-block;
            font-size: 30px;
            height: 50px;
            float: left;
            color: black; }
  .main .size {
    width: 900px;
    height: 400px;
    float: left;
    margin-top: 40px; }
    .main .size .title {
      width: 100%;
      height: 50px;
      float: left;
      text-align: center;
      font-size: 30px;
      line-height: 50px; }
  .main .chi {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    font-size: 20px;
    color: darkslategray; }
  .main .danwei {
    width: 100%;
    height: 30px;
    text-align: center;
    float: left;
    line-height: 30px;
    color: darkgray;
    font-size: 15px; }
  .main .length {
    width: 100%;
    background: red;
    float: left;
    height: 40px; }
    .main .length .left {
      display: inline-block;
      float: left;
      width: 150px;
      height: 40px;
      background: black;
      text-align: center;
      color: white;
      font-size: 20px;
      line-height: 40px; }
    .main .length .right {
      width: 750px;
      height: 40px;
      float: left;
      display: inline-block;
      text-align: center;
      background: darkgrey;
      line-height: 40px; }
  .main .topic {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    margin-top: 40px;
    line-height: 40px;
    font-size: 30px; }
  .main .subhead {
    width: 100%;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: darkslategrey;
    font-size: 20px; }
  .main .text {
    width: 100%;
    height: 120px;
    float: left;
    margin-top: 40px;
    font-size: 16px;
    color: darkgrey; }

/*底部*/
.foot {
  width: 100%;
  height: 150px;
  float: left;
  background: white;
  margin-top: 80px; }
  .foot .table1 {
    width: 900px;
    margin: 0 auto;
    display: flex; }
    .foot .table1 li {
      flex: 1;
      height: 80px;
      border-right: 1px solid darkgrey;
      text-align: center;
      margin-top: 20px; }
      .foot .table1 li a {
        display: block;
        height: 50px;
        color: black;
        font-size: 30px; }
      .foot .table1 li a:hover {
        color: #DF5000; }
      .foot .table1 li span {
        font-size: 12px;
        display: block; }
    .foot .table1 :nth-child(6) {
      border-right: none; }
  .foot .table2 {
    width: 600px;
    margin: 0 auto;
    display: flex;
    margin-top: 10px; }
    .foot .table2 li {
      flex: 1;
      text-align: center;
      font-size: 12px; }
      .foot .table2 li a {
        color: black; }
      .foot .table2 li a:hover {
        color: #DF5000; }
  .foot .shengming {
    width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    height: 30px; }
    .foot .shengming span {
      font-size: 12px; }
    .foot .shengming :nth-child(1) {
      float: left; }
    .foot .shengming :nth-child(2) {
      float: right; }
  .foot .pg {
    width: 180px;
    margin: 0 auto;
    margin-top: 5px; }
    .foot .pg span {
      display: inline-block; }
    .foot .pg :nth-child(1) {
      float: left; }
    .foot .pg :nth-child(2) {
      float: right; }
