@charset "UTF-8";
/*头部样式*/
.top {
  width: 100%;
  height: 30px;
  background-color: #F7F7F7;
  font-size: 12px; }
  .top .top-in {
    width: 900px;
    margin: 0 auto; }
  .top a {
    color: black;
    display: inline-block;
    width: 77px;
    margin-top: 7px; }
  .top a:hover {
    color: red; }
  .top .left {
    float: left; }
    .top .left :nth-child(1) a {
      color: red; }
    .top .left :nth-child(1) img {
      display: inline-block; }
    .top .left li {
      float: left;
      text-align: center; }
      .top .left li a {
        border-right: 1px solid black; }
    .top .left :nth-child(3) a {
      border-right: none; }
  .top .right {
    float: right; }
    .top .right li {
      float: left;
      width: 80px;
      text-align: center; }
      .top .right li a {
        border-right: 1px solid black; }
    .top .right :nth-child(3) a {
      border-right: none; }
      .top .right :nth-child(3) a span {
        display: inline-block;
        width: 50px;
        float: left;
        line-height: 18px; }

/*顶部下方图片*/
.top-bot {
  width: 900px;
  height: 100px;
  margin: 0 auto;
  background: url(../img/top-in.jpg) no-repeat;
  background-size: cover; }

/*导航*/
.nav {
  float: left;
  width: 100%;
  height: 50px;
  background: black; }
  .nav .hang {
    width: 900px;
    margin: 0 auto; }
    .nav .hang ul {
      float: left;
      display: flex;
      width: 900px; }
      .nav .hang ul li {
        float: left;
        flex: 1;
        line-height: 48px; }
      .nav .hang ul a {
        font-size: 14px;
        color: white;
        display: inline-block;
        text-align: center; }
      .nav .hang ul a:hover {
        color: #DF5000; }
      .nav .hang ul :nth-of-type(6) {
        background: url(../img/xiaotupiao/new.png) no-repeat top right 13px; }
      .nav .hang ul :nth-child(1) a {
        color: #DF5000; }
      .nav .hang ul :nth-child(9) a {
        width: 200px;
        text-align: right;
        padding-right: 5px; }
      .nav .hang ul :nth-child(9) a span {
        border-right: 1px solid white; }

/*轮播图*/
.lun {
  float: left;
  width: 100%;
  height: 500px; }

/*图片区*/
/*今日上线*/
.tupian {
  position: relative;
  width: 1100px;
  height: 1800px;
  background: white;
  margin: 0 auto;
  top: -90px;
  /*热卖品牌*/
  /*女士用品*/ }
  .tupian .today {
    width: 95%;
    margin: 0 auto; }
    .tupian .today .title {
      font-size: 30px;
      display: inline-block;
      float: left;
      width: 100%; }
    .tupian .today div {
      float: left; }
    .tupian .today .left {
      width: 68%;
      height: 500px;
      float: left; }
      .tupian .today .left div {
        width: 320px;
        height: 230px;
        margin: 15px;
        background: honeydew;
        position: relative; }
        .tupian .today .left div img {
          display: block;
          float: left; }
        .tupian .today .left div span {
          display: inline-block;
          width: 70%;
          overflow: hidden;
          float: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 3px; }
        .tupian .today .left div b {
          display: inline-block;
          text-align: right;
          width: 18%;
          float: left;
          font-size: 20px;
          color: red; }
        .tupian .today .left div dd {
          display: inline-block;
          float: left;
          width: 10%;
          margin-top: 10px;
          font-size: 12px;
          color: red; }
        .tupian .today .left div dt {
          visibility: hidden;
          color: yellow;
          position: absolute;
          left: 0;
          top: 0;
          width: 320px;
          height: 192px;
          background: greenyellow;
          opacity: 0.4; }
    .tupian .today .right {
      width: 31%;
      height: 500px;
      margin-top: 0px;
      float: left; }
      .tupian .today .right img {
        height: 490px;
        margin-top: 15px; }
    .tupian .today .bot {
      width: 100%;
      height: 800px;
      float: left;
      margin-top: 15px; }
      .tupian .today .bot div {
        background: honeydew;
        display: inline-block;
        float: left;
        width: 320px;
        height: 230px;
        margin: 14px;
        position: relative; }
        .tupian .today .bot div img {
          display: block; }
        .tupian .today .bot div span {
          display: inline-block;
          width: 70%;
          overflow: hidden;
          float: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 3px; }
        .tupian .today .bot div b {
          display: inline-block;
          text-align: right;
          width: 18%;
          float: left;
          font-size: 20px;
          color: red; }
        .tupian .today .bot div dd {
          display: inline-block;
          float: left;
          width: 10%;
          margin-top: 10px;
          font-size: 12px;
          color: red; }
        .tupian .today .bot div dt {
          color: yellow;
          position: absolute;
          left: 0;
          top: 0;
          width: 320px;
          height: 192px;
          background: greenyellow;
          opacity: 0.4; }
  .tupian .hot {
    width: 100%;
    height: 840px;
    float: left;
    margin-left: 25px; }
    .tupian .hot .title {
      font-size: 30px;
      display: inline-block;
      width: 100%; }
    .tupian .hot .hot-tu div {
      background: honeydew;
      display: inline-block;
      float: left;
      width: 320px;
      height: 230px;
      margin: 14px;
      position: relative; }
      .tupian .hot .hot-tu div img {
        display: block; }
      .tupian .hot .hot-tu div span {
        display: inline-block;
        width: 70%;
        overflow: hidden;
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 3px; }
      .tupian .hot .hot-tu div b {
        display: inline-block;
        text-align: right;
        width: 18%;
        float: left;
        font-size: 20px;
        color: red; }
      .tupian .hot .hot-tu div dd {
        display: inline-block;
        float: left;
        width: 10%;
        margin-top: 10px;
        font-size: 12px;
        color: red; }
      .tupian .hot .hot-tu div dt {
        color: yellow;
        position: absolute;
        left: 0;
        top: 0;
        width: 320px;
        height: 192px;
        background: greenyellow;
        opacity: 0.4; }
  .tupian .woman {
    width: 100%;
    height: 600px;
    float: left;
    margin-left: 25px; }
    .tupian .woman .title {
      font-size: 30px;
      display: inline-block;
      width: 100%; }
    .tupian .woman .left {
      width: 320px;
      height: 500px;
      float: left;
      margin-top: 14px; }
    .tupian .woman .right {
      display: inline-block;
      width: 780px;
      height: 500px;
      float: left; }
      .tupian .woman .right div {
        background: honeydew;
        display: inline-block;
        float: left;
        width: 320px;
        height: 230px;
        margin: 14px;
        position: relative; }
        .tupian .woman .right div img {
          display: block; }
        .tupian .woman .right div span {
          display: inline-block;
          width: 70%;
          overflow: hidden;
          float: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 3px; }
        .tupian .woman .right div b {
          display: inline-block;
          text-align: right;
          width: 18%;
          float: left;
          font-size: 20px;
          color: red; }
        .tupian .woman .right div dd {
          display: inline-block;
          float: left;
          width: 10%;
          margin-top: 10px;
          font-size: 12px;
          color: red; }
        .tupian .woman .right div dt {
          color: yellow;
          position: absolute;
          left: 0;
          top: 0;
          width: 320px;
          height: 192px;
          background: greenyellow;
          opacity: 0.4; }
  .tupian .man {
    width: 100%;
    height: 840px;
    float: left;
    margin-left: 25px; }
    .tupian .man .title {
      font-size: 30px;
      display: inline-block;
      width: 100%; }
    .tupian .man .left {
      width: 320px;
      height: 500px;
      float: left;
      margin-top: 14px; }
    .tupian .man .right {
      display: inline-block;
      width: 780px;
      height: 500px;
      float: left; }
      .tupian .man .right div {
        background: honeydew;
        display: inline-block;
        float: left;
        width: 320px;
        height: 230px;
        margin: 14px;
        position: relative; }
        .tupian .man .right div img {
          display: block; }
        .tupian .man .right div span {
          display: inline-block;
          width: 70%;
          overflow: hidden;
          float: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 3px; }
        .tupian .man .right div b {
          display: inline-block;
          text-align: right;
          width: 18%;
          float: left;
          font-size: 20px;
          color: red; }
        .tupian .man .right div dd {
          display: inline-block;
          float: left;
          width: 10%;
          margin-top: 10px;
          font-size: 12px;
          color: red; }
        .tupian .man .right div dt {
          color: yellow;
          position: absolute;
          left: 0;
          top: 0;
          width: 320px;
          height: 192px;
          background: greenyellow;
          opacity: 0.4; }
